div.approved-card-main-block {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: #77cc6d;

  div.approved-card-img-block {
    img.card__img {
    }
  }

  div.approved-internship-content-block {
    width: 100%;
    margin-left: 40px;
    div.approved-internship-title-block {
      display: flex;
      justify-content: space-between;
      display: flex;
      h2.approved-internship-title__h2 {
        margin: 0px;
      }
      img {
      }
    }

    div.approved-internship-brief-block {
      display: flex;
      justify-content: space-between;
      margin: 32px 70px 0px 0px;
      p.approved-internship-brief__p {
      }
      .approved-internship-brief__button {
        img {
        }
      }
    }
  }
}

//!------------------------------ under-review ------------------------------ */

div.underReview-card-main-block {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: #3859ff;

  div.underReview-card-img-block {
    img.card__img {
    }
  }

  div.underReview-internship-content-block {
    width: 100%;
    margin-left: 40px;
    div.underReview-internship-title-block {
      display: flex;
      justify-content: space-between;
      display: flex;
      h2.underReview-internship-title__h2 {
        margin: 0px;
      }
      img {
      }
    }

    div.underReview-internship-brief-block {
      display: flex;
      justify-content: space-between;

      margin: 32px 48% 0px 0px;
      p.underReview-internship-brief__p {
      }
    }
  }
}

//!------------------------------ ended-review ------------------------------ */
div.ended-card-main-block {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: #f54343;

  div.ended-card-img-block {
    img.card__img {
    }
  }

  div.ended-internship-content-block {
    width: 100%;
    margin-left: 40px;
    div.ended-internship-title-block {
      display: flex;
      justify-content: space-between;
      display: flex;
      h2.ended-internship-title__h2 {
        margin: 0px;
      }
      img {
      }
    }

    div.ended-internship-brief-block {
      display: flex;
      justify-content: space-between;
      margin: 32px 48% 0px 0px;

      p.ended-internship-brief__p {
      }
    }
  }
}

//!------------------------------ rejected-review ------------------------------ */
div.rejected-card-main-block {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: #f54343;

  div.rejected-card-img-block {
    img.card__img {
    }
  }

  div.rejected-internship-content-block {
    width: 100%;
    margin-left: 40px;
    div.rejected-internship-title-block {
      display: flex;
      justify-content: space-between;
      display: flex;
      h2.rejected-internship-title__h2 {
        margin: 0px;
      }
      img {
      }
    }

    div.rejected-internship-brief-block {
      display: flex;
      justify-content: space-between;
      margin: 32px 48% 0px 0px;

      p.rejected-internship-brief__p {
      }
    }
  }
}
