.internship-details-block{
    .internship-details-heading{
        opacity: 0.8;
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
        
    }
    .summary-and-overview{
        height: 13rem;        
        display: flex;
        justify-content: space-between;
        width: 95%;
        
        .summary{
            color: white;
            padding: 1rem 1.5rem;
            width: 42rem;
            background-color: #3b599b;
            border-radius: 9px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            .summary-title{
                color: white;
                font-size: 1.5rem;
            }
            .summarty-details{
                .details-table{
                    // width: 100%;
                    table-layout: fixed;
                    width: 40rem;
                    td{
                        p > span{
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .overview{
            color: white;
            padding: 1rem 1.5rem;
            width: 21.5rem;
            background-color: #3b599b;
            border-radius: 9px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            .overview-title{
                color: white;
                text-align: center;
                font-size: 1.5rem;
            }
            .overview-details{
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;
                .number{
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
        }
    }
    .applied-workers{
        width: 95%;
        height: 100%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #e4e4e4;
        // background-color: #3b599b;
        margin-top: 2rem;
        .title{
            font-size: 1.5rem;
            margin: 1rem 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #ccc;
        }
    }
}