div.user-internship-main-block {
  width: 80%;
  margin-top: 48px;
  div.user-internship-header-block {
    display: flex;
    justify-content: space-between;
    h2.user-internship__h2 {
    }

    button {
    }
  }
  div.internship-stat-block {
    margin-top: 40px;
  }
}


