%title {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.8;
    color: black;
    border-bottom: none;
}

%scroll-div{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

%bigBlock{
    @extend %block;
    .title{
        display: flex;
        img{
            margin-right: 1.3rem;
        }
        span{
            @extend %title;                    
        }
    }
    .outer-block{
        padding-left: 2rem;
        .details{
            padding: 0rem 1rem;
            border-left: 3px solid #5468d1 ;
            span{
                opacity: 0.5;
                font-size: 1.2rem;
            }
            
        }
    }
}

%block{
    padding: 1rem 1.5rem;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.worker-details-modal{
    .ant-modal-body{
        padding: 2.5rem;
        padding-bottom: 0;
    }
    .left-icon{
        color: white;
        font-size: 3rem;
        position: fixed;
        top: 50%;
        left: 8%;
        z-index: 100;

        cursor: pointer;
    }
    .right-icon{
        color: white;
        font-size: 3rem;
        position: fixed;
        top: 50%;
        right: 8%;
        z-index: 100;
        cursor: pointer;
    }
    .main-block{
        border-radius: 9px;
        border: solid 1px #b7b7b7;
        padding: 1.75rem;
        display: flex;
        justify-content: space-between;
        // .interview-questions{
        //     width: 28%;
        //     height: 100%;
        //     border-radius: 9px;
        //     border: solid 1px #b7b7b7;
        //     padding: 1rem;
        //     .title{
        //         font-size: 1.25rem;
        //         font-weight: 500;
        //         padding-bottom: 0.5rem;
        //         border-bottom: 1px solid #ccc;
        //     }
        //     .qna{
        //         padding: 1rem 0;
        //         .question{
        //             margin-bottom: 0.1rem;
        //             color: black;
        //             opacity: 0.9;
        //             font-size: 13px;
        //         }
        //         .answer{
        //             opacity: 0.6;
        //             color: black;
        //             font-size: 12px;
        //         }
        //     }
            
        // }
        .interview-questions{
            border: 1px solid #b7b7b7;
            border-radius: 9px;
             padding: 1rem;
            height: 100%;
            margin: 1rem;
            flex: 1;
            &__header{
                text-align: left;
                color: rgba(0, 0, 0, 0.5);
                padding: 0.5rem 0;
                border-bottom: 1px solid #b7b7b7;
            }
        }
        .resume-details{
            // color: black;
            // height: 82vh;
            // overflow: scroll;
            width: 100%;
            flex:3;
            padding: 1rem 0;
            .about-block, .achievement-block{
                @extend %scroll-div;
                @extend %bigBlock;                
            }
            .education-block{
                @extend %scroll-div;
                @extend %bigBlock;
                .details{
                    margin-bottom: 1rem;
                    p{
                        font-size: 0.9rem;
                        margin-bottom: 0.5rem;
                    }
                    span{
                        font-size: 11px;
                    }
                }
            } 
            .work-experience-block, .projects-block{
                @extend %scroll-div;
                @extend %bigBlock;
                .details{
                    margin-bottom: 1rem;
                    p{
                        font-size: 0.9rem;
                        margin-bottom: 0.5rem;
                        .company-name{
                            font-size: 1rem;
                        }
                        .position{ 
                            font-size: 0.85rem;
                        }
                    }
                    .desc{
                        font-size: 1.2rem;
                    }
                    .city{
                        font-size: 0.8rem;
                    }
                    .year{
                        font-size: 0.8rem;
                    }
                }
            } 

            .skills{
                @extend %scroll-div;
                @extend %bigBlock;
                .skill{
                    padding: 0.5rem;
                    border: solid 1px #707070;
                    border-radius: 5px;
                    display: inline-flex;
                    margin: 0.25rem;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    .name{
                        margin-right: 0.25rem;
                        // font-size: 8px;
                        font-weight: 600;
                        color: #707070;
                    }
                }
            }

            .pos{
                @extend %scroll-div;
                @extend %bigBlock;
                .details{
                    margin-bottom: 1rem;
                    p{
                        font-size: 0.9rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
            .trainings{
                @extend %scroll-div;
                @extend %bigBlock;
                .details{
                    margin-bottom: 1rem;
                    p{
                        font-size: 0.9rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .digital-profile-block{
                @extend %scroll-div;
                @extend %bigBlock;
                .socila-media-icons{
                    display: flex;
                    justify-content: space-around;
                    padding: 1rem 7rem;
                    .icon{
                        cursor: pointer;
                        width: 4rem;
                        height: 4rem;
                        border-radius: 8px;
                        border: solid 1px #707070;
                        padding: 1rem;

                    }
                }
            }
            
            
        }
    }
    .footer-btns{
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 0;
        .report{
            cursor: pointer;
            text-transform: uppercase;
            color: #ff0000;
            align-items: center;
            display: flex;
            img{
                margin: 0 0.25rem;
            }
        }
        .buttons{
            .btn{
                margin-right: 0.5rem;
            }
            .reject{
                width: 8.5rem;
                height: 2.5rem;
                border: 2px solid #ff0000;
                color: #ff0000;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 700;
            }
            .shortlist{
                width: 8.5rem;
                height: 2.5rem;
                border: 2px solid #5689fb;
                color: #5689fb;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 700;
            }
            .select{
                width: 8.5rem;
                height: 2.5rem;
                border: 2px solid #3fee32;
                color: #3fee32;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
    
}
