 .campus-marketing{
  //  margin: 5rem 0;
   text-align: center;
   .heading{
     font-size: 36px;
     font-weight: 700;
     text-align: start;
   }
  .marketing-cardItems {
    margin: 10rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .marketing-heading1{
    font-size: 2em;
    color: #333743;
  }
  
  .marketing-subHeading{
    color: #78869a;
    font-size: 1.5em;
  }
  
  .marketing-card-box {
    width: 236px;
    height: 305px;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    text-align: center;
    // border-bottom: 5px solid #ec3f78;
    padding: 15px;
    margin-bottom: 2rem;
    .price-button{
      width: 95%;
      height: 3rem;
      border-radius: 5px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ec3f78;
      border: none;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 2rem;
      color: #fff;
    }
  }
  
  .marketing-card-text1 {
    padding-top: 1rem;
    color: #282c3f;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  
  .marketing-card-text2 {
    color: #9eabc0;
  }
  
  .marketing-card-bottomText{
    color: #333743;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  /* .checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  
  .checkbox-round:checked {
    background-color: gray;
  } */
  
  .marketing-card-round {
    position: relative;
  }
  
  .marketing-card-round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    right: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .marketing-card-round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 1;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .marketing-card-round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .marketing-card-round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .marketing-card-round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  /* .round input[type="checkbox"] + label {
    opacity: 1;
  } */
  
  .marketing-card-round input[type="checkbox"] + label {
    background: #ccc;
    opacity: 1;
  }
  
  .marketing-button {
    background-color: #ec3f78;
    color: white;
    padding: 5px 15px;
    border-radius: 12px;
  }

  .enquire-button{
    width: 12rem;
    height: 3.5rem;
    border-radius: 3rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ec3f78;
    font-size: 20px;
    font-weight: 700;
    border: none;
  }

 }
  
  
  .help .ant-modal-header{
    border-bottom: unset;
  }
  
  
  .help .ant-modal-footer .ant-btn-primary{
    background-color: #ec3f78;
  }

  .internship-booster, .help .ant-modal-footer {
    border-top: unset;
    text-align: center;

  }

   .ant-modal-footer .ant-btn-primary{
    background-color: #ec3f78;
  }

  .internship-booster .ant-modal-footer {
    border-top: unset;
    text-align: center;

  }

  .internship-booster .ant-modal-header{
    border-bottom: unset;
  }

  .internship-booster{
    .ant-modal-title{
      font-size: 1.5rem;
    }
    .boost-purchase-btn{
      width: 13rem;
      height: 2.5rem;
      font-weight: 500;
      font-size: 1.25rem;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #3b599b;
      border: none;
      border-radius: 4px;
      margin-bottom: 1rem;
    }
    .price-cards{
      display: flex;
      justify-content: space-around;
      padding: 0 4rem;
      .single-card{
        display: inline-flex;
        align-items: center;
        text-align: center;
        width: 225px;
        height: 113px;
        border-radius: 8px;
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
        div{
          margin: auto;
          font-size: 20px;
          font-weight: 500;
          span{
            font-size: 34px;
            font-weight: 500;
            color: #3b599b;
          }
        }
      }

    }
  }
