%common-design{

        // height: 100vh;
        background-color: #fff;
        border-radius: 12px;
        padding: 2rem;
        text-align: center;
        h1{
            font-size: 24px;
            margin-bottom: 1rem;
        }
    .fact-cards{
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card{
            width: 178px;
            height: 157px;
            border-radius: 11px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            margin: 1rem 0;
            position: relative;
            display: flex;
            justify-content: center;
            img{

            }
            div{
                position: absolute;
                top: 25%;
                width: 80%;
                color: #444584;
            }
        }
    }
    .enquire-btn{
        width: 11rem;
        height: 2.5rem;
        background-color: #38bdba;
        color: white;
        border-radius: 5rem;
        margin-top: 1rem;
       }
}

.site-layout{
    background-color: #f7f7f7;
}
.campus-marketing-2{
    // height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media (max-width:$smallTableScreen) {
    grid-template-columns: 1fr;
        
    }
    .block-1{
        @extend %common-design;
    }
    .block-2{
        @extend %common-design;
    }

        
}