.keepSimple-main-block {
  margin-top: 120px;
  .keepSimple-message-block {
    display: flex;
    justify-content: center;
    position: relative;
    .keepSimple-message {
      position: relative;
      margin: 0 80px;
      // word-spacing: -12px;
      font-size: 36px;
      line-height: 1.36;
      text-align: center;
      color: #333e49;
      font-weight: 500;
    }
    .chipOne {
      z-index: -1;
      position: absolute;
      top: -50px;
      left: 440px;
    }
    .chipTwo {
      z-index: -1;
      position: absolute;
      right: 70px;
      top: 50px;
    }
    .chipThree {
      z-index: -1;
      position: absolute;
      bottom: -40px;
      left: 210px;
    }
    .chipFour {
      z-index: -1;
      position: absolute;
      right: 330px;
      top: -30px;
    }
    .chipFive {
      z-index: -1;
      position: absolute;
      bottom: -20px;
      right: 40%;
    }
  }

  .content-main-block {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    .content-block {
      text-align: center;
      margin: 6px;
      .content-img {
        width: 100%;
        height: 332px;
      }

      .content-heading {
        font-size: 20px;
        font-weight: 900;
      }

      .content-subHeading {
        font-size: 32px;
        // word-spacing: -8px;
        font-weight: 500;
        color: #333e49;
        margin: 0 0px 8px 0px;
      }

      .content-para {
        font-size: 20px;
        color: #3d3d3d;
        margin: 0 36px;
      }
    }
    .content-block:nth-child(1) {
      .content-heading {
        color: #ff5e16;
      }
      .content-para {
        margin: 0 24px;
      }
    }
    .content-block:nth-child(2) {
      .content-heading {
        color: #4385e0;
      }
      .content-para {
        margin: 0 70px;
      }
    }
    .content-block:nth-child(3) {
      .content-heading {
        color: #4d52d1;
      }
      .content-para {
        margin: 0 38px;
      }
    }
  }
  @media (min-width: $bigTabletScreen) and (max-width: $smallLaptopScreen) {
    .content-main-block {
      .content-block {
        .content-subHeading {
          font-size: 30px;
        }
        .content-para {
          margin: 0 20px;
        }
      }
      .content-block:nth-child(1) {
        .content-para {
          margin: 0;
        }
      }
      .content-block:nth-child(2) {
        .content-para {
          margin: 0;
        }
      }
      .content-block:nth-child(3) {
        .content-para {
          margin: 0;
        }
      }
    }
  }
  @media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
    // background: lightpink;
    .keepSimple-message-block {
      .keepSimple-message {
        font-size: 22px;
        // word-spacing: -4px;
      }
    }
    .content-main-block {
      .content-block {
        flex-direction: column;
        .content-img {
          width: 100%;
          height: 232px;
        }
        .content-heading {
          font-size: 16px;
        }
        .content-subHeading {
          font-size: 20px;
        }
      }
      .content-block:nth-child(1) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
      .content-block:nth-child(2) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
      .content-block:nth-child(3) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  @media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
    // background: lightyellow;
    .keepSimple-message-block {
      .keepSimple-message {
        font-size: 22px;
        // word-spacing: -4px;
      }
    }
    .content-main-block {
      flex-direction: column;
      .content-block {
        .content-img {
          width: 70%;
          height: 332px;
        }
        .content-heading {
          font-size: 16px;
        }
        .content-subHeading {
          font-size: 20px;
        }
      }
      .content-block:nth-child(1) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
      .content-block:nth-child(2) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
      .content-block:nth-child(3) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
  @media (max-width: $mobileScreen) {
    // background: lightgreen;
    .keepSimple-message-block {
      .keepSimple-message {
        font-size: 18px;
        // word-spacing: -4px;
        margin: 0 20px;
      }
    }
    .content-main-block {
      flex-direction: column;
      .content-block {
        .content-img {
          width: 100%;
          height: 232px;
        }
        .content-heading {
          font-size: 14px;
        }
        .content-subHeading {
          font-size: 18px;
        }
      }
      .content-block:nth-child(1) {
        .content-para {
          font-size: 14px;
          margin: 0;
        }
      }
      .content-block:nth-child(2) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
      .content-block:nth-child(3) {
        .content-para {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}
