@import "./hero";
@import "./keepSimple";
@import "./ourPromise";
@import "./whyPracify";
@import "./HIW";
@import "./WWD";
@import "./MPO";
@import "./footer";
.main-landingPage-block {
  margin: 120px 0px 0px 0px;
  font-family: $myFont;
  word-spacing: -4px;
}
