.mpo-main-block {
  margin: 92px 0 76px 0;
  .mpo-header-block {
    width: 100%;
    display: flex;
    justify-content: center;
    .mpo__header {
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 12px;
      font-size: 36px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 1.8px;
      color: #333e49;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #333e49;
        border-bottom: 3px solid #333e49;
        border-radius: 70px;
      }
    }
  }

  .mpo-main-block-two {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px 0 18px;

    .mpo-block {
      border-radius: 12px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding: 25px 25px 25px 25px;
      margin: 0 9px 20px;
      flex: 1;
      display: grid;
      grid-template:
        "image header"
        "image para"
        "button button";

      .mpo__image {
        grid-area: image;
        align-self: end;
        margin-right: 20px;
      }

      .mpo__header {
        grid-area: header;
        font-size: 20px;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #444584;
        margin-bottom: 34px;
      }

      .mpo__para {
        grid-area: para;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin: 0px;
      }

      .mpo__button {
        grid-area: button;
        margin: 54px 0 0 0;
        height: 47px;
        border-radius: 24px;
        border: 1px solid #38bdba;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #38bdba;

        font-size: 16px;
        font-weight: 900;
        line-height: 1.88;
        letter-spacing: 0.8px;
        color: #ffffff;
        img {
          margin: 0 0px 3px 12px;
        }
      }
    }
  }
  @media (min-width: $bigTabletScreen) and (max-width: $smallLaptopScreen) {
    .mpo-header-block {
      .mpo__header {
        font-size: 18px;
      }
    }
  }
  @media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
    // background: lightPink;
    .mpo-header-block {
      display: flex;
      justify-content: center;
      // margin: 0 40px;
      .mpo__header {
        font-size: 22px;
        margin: 0 20px 40px;
      }
    }
  }
  @media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
    // background: lightyellow;
    .mpo-header-block {
      display: flex;
      justify-content: center;
      // margin: 0 40px;
      .mpo__header {
        font-size: 22px;
        margin: 0 20px 40px;
      }
    }
  }
  @media (max-width: $mobileScreen) {
    // background: lightgreen;
    .mpo-header-block {
      display: flex;
      justify-content: center;
      // margin: 0 20px;
      .mpo__header {
        font-size: 18px;
        margin: 0 8px 40px;
        letter-spacing: initial;
      }
    }
    .mpo-main-block-two {
      .mpo-block {
        .mpo__image {
          align-self: center;
        }
      }
    }
  }
}
