@import "./base/setting";

@import "./header/header";
@import "./header/mobileNav";


// @import "./home/home";

@import "./internship/internship";
@import "./internship/formStipend";


@import "./success_check/success_check";

@import "./marketing/marketing.scss";
