@import "./base/base";
@import "./base/setting";

@import "./header/header";
@import "./header/mobileNav";
@import "./header/privateHeader";

@import "./internship/internship/internship";
@import "./internship/internship";

@import "./success_check/success_check";

@import "./marketing/marketing";
@import "./report_applicant/report_applicant";

@import "./internship/internshipStatus";

@import "./internship/share_internship";
@import "./internship/internship/single_internship";

@import "./internship/form";
@import "./internship/userResume";

@import "./gig/gig";
@import "./gig/existingGig";
@import "./gig/specific_gig";
@import "./gig/gigProfile";

@import "./companyHome/companyHome";

@import "./login/login";
