@import "./base/base";
@import "./base/setting";

@import "./landingPage/landingPage";
@import "./landingPageContactUs/contactUs";

@import "./header/header";
@import "./header/mobileNav";
@import "./header/privateHeader";

@import "./internship/internship/internship";
@import "./internship/internship";

@import "./success_check/success_check";

@import "./marketing/marketing";
@import "./report_applicant/report_applicant";

@import "./internship/internshipStatus";

@import "./internship/share_internship";
@import "./internship/internship/single_internship";

@import "./internship/form";
@import "./internship/userResume";

@import "./gig/gig";
@import "./gig/existingGig";
@import "./gig/specific_gig";
@import "./gig/gigProfile";
@import "./gig/submission";

@import "./dashboard/dashboard";

@import "./gig//gigProfile";
@import "./internship//internship/internshipDetails";
@import "./internship/internship/workerDetails";
@import "./profile/editProfile";

@import "./profile//personalProfileModal";
@import "./login/login";
@import "./marketing/newMarketing";
@import "./marketing/newMarketing2";
@import "./internshipBooster/internshipBooster";
@import "./internship/internship/newInternshipDetails";

@import "./internship/newCreateInternship";

@import "./internship/internship/internship2";
@import "./gig/newAppliedGig";
@import "./Loader/loader";