div.stipend {
  div.stipend-amount-container {
    margin-bottom: 30px;
    display: flex;
    div.stipend-container {
      flex: 1;

      h3.stipend__h3 {
      }

      .stipend__select {
        width: 40%;
      }
    }

    div.amount-container {
      flex: 1;

      h3.amount__h3 {
      }
      .amount-input-container {
        display: flex;
        align-items: center;
        .amount__input {
        }
        .amount__span {
          font-weight: 900;
          margin: 0px 12px 0px 12px;
        }
      }
    }
  }

  div.additional-benefit {
    margin-bottom: 30px;
    h3.additional-benefit__h3 {
    }

    div.additional-benefit-input-container {
      .additional-benefit__input {
      }

      .additional-benefit__icon {
      }
    }

    span.additional-benefit-add-question {
      color: #ec3f78;
      font-size: 12px;
      font-weight: 500;
    }
  }
  div.ppo-container {
    div.ppo-block {
      margin-bottom: 30px;
      .ppo__paragraph {
      }

      div.ppo-option {
      }
    }
  }
}
