.internship-status-huge{
  .ant-tabs-nav-wrap{
    padding: 0 2rem;
  }
  .second-tab{
    margin: 2rem 1rem;
  }
  .background-color-nth-child{
    background-color: #f9f9f9;
  }
  .select-all{
    background-color: #f1eded;
  }
  .applied-worker-card{
    font-size: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    border-radius: 8px;
    .img-and-name{
      color: black;
      span{
        font-size: 1.2rem;
      }
      img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      
    }
    .college-name{

    }
    .city{

    }
    .progress-bar{

    }
  }
  font-family: $myFont;
}
div {
    .internship-status {
          width: 120%;      
      menu.item {
  
      }
    }
  
    div.second-tab {
        display: flex;
        .ant-btn-link{
          color: "#ec3f78"
        }
      checkbox {
  
      }
  
      div.clickable-options {
          display: flex;
          
        p {
            color: #3b599b;
            cursor: pointer;
            margin: 0 0.5rem;

        }
      }

      div.clickable-options-2 {
        display: flex;
        margin-left: auto;
        align-items: center;
        
      p {
        //   color: #ec3f78;
          margin: 0 0.2rem;
        padding: 0 10px;

      }
    }
    }
    
        div.student-min {
            border-radius: 50px;
            // margin-top: 5rem;
            display: inline-flex;
            padding: 1rem;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .photo{
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                background-color: grey;
            }
            .name {
                font-weight: 500;
            }
        }
        
       
  }