.internship-main-block {
  font-family: $myFont;
}
.internship-container {
  padding: 100px 0px;
  background-color: #f9fbfd;
  .step-container {
    padding: 20px 80px;
  }
  

  div.interview-ques-container {
    div.interview-ques-header-container {
      display: flex;
      align-items: baseline;
      h2.interview-ques__h2 {
      }

      span.interview-ques__span {
        margin-left: 40px;
        color: #ec3f78;
        font-weight: 500;
      }
    }

    .interview-ques__input {
      margin-bottom: 20px;
    }

    div.interview-ques-input-container {
      display: flex;
      // flex-direction: column;
      .interview-ques__input {
        margin-bottom: 20px;
      }

      .interview-ques__icon {
      }
    }

    span.interview-add-question {
      color: #ec3f78;
      font-weight: 500;
    }

    div.submit-button-container {
      .submit-button {
      }
    }
  }

  div.responsibility-container {
    div.intern-res-container {
      margin-bottom: 24px;
      h2.intern-res__h2 {
      }
      .intern-res-input-container {
        .intern-res__input {
        }
        .interview-ques__icon {
        }
      }

      span.add-responsibility {
        color: #ec3f78;
        font-weight: 500;
      }
    }

    div.intern-skill-container {
      margin-bottom: 24px;
      h2.intern-skill__h2 {
      }

      .intern-skill__select {
      }
    }

    div.intern-requirement-container {
      h2.intern-requirement__h2 {
      }

      .intern-requirement-input-container {
        .intern-requirement__input {
        }
      }

      span.intern-requirement__span {
        color: #ec3f78;
        font-weight: 500;
      }
    }
  }
}
