div {
    .internship-status {
          width: 120%;      
      menu.item {
  
      }
    }
  
    div.second-tab {
        display: flex;
        .ant-btn-link{
          color: "#ec3f78"
        }
      checkbox {
  
      }
  
      div.clickable-options {
          display: flex;
          
        p {
            color: #ec3f78;
            cursor: pointer;
            margin: 0 0.5rem;

        }
      }

      div.clickable-options-2 {
        display: flex;
        margin-left: auto;
        align-items: center;
        
      p {
        //   color: #ec3f78;
          margin: 0 0.2rem;
        padding: 0 10px;

      }
    }
    }
    
        div.student-min {
            border-radius: 50px;
            // margin-top: 5rem;
            display: inline-flex;
            padding: 1rem;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .photo{
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                background-color: grey;
            }
            .name {
                font-weight: 500;
            }
        }
        
       
  }