.share-internship-modal {
    .header{
        .text{
            font-size: 26px;
            font-weight: 500;
            text-align: center;
            padding: 1rem;
            color: #444584;
            padding-bottom: 0.5rem;
        }
        .border-bottom{
            height: 3px;
            background: #444584;
            width: 35%;
            margin: auto;
        }
    }
    .social-media-icons{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 4rem;
        flex-wrap: wrap;
    .social-media-icon{    
        display: flex;
        justify-content: center;
        width: 92px;
        height: 92px;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 1.5rem;
        }
        .copy-icon-style{
            width: 2.25rem;
            height: 2.25rem;
            background: #444584;
            align-self: center;
            padding: 0.5rem;
            border-radius: 5px;
        }
    }
.ant-modal-content{
    .ant-modal-header{
        text-align: center;
        .ant-modal-title{
            font-size: 1.5rem;
        }
    }
    .ant-modal-body{
        padding: 0;
        .item{
            padding: 20px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            display: flex;
            cursor: pointer;
            .text{
                margin:0;
                padding: 0 20px;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    .ant-modal-footer{
        padding: 0;
        border-top: unset;
    }
    
}
}
 