.share-internship-modal {
    .social-media-icons{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 4rem;
    .social-media-icon{    
        width: 92px;
        height: 92px;
        border-radius: 8px;
        border: solid 1px #707070;
        display: flex;
        justify-content: center;
        // margin: 0 1rem;
        }
    }
.ant-modal-content{
    .ant-modal-header{
        text-align: center;
        .ant-modal-title{
            font-size: 1.5rem;
        }
    }
    .ant-modal-body{
        padding: 0;
        .item{
            padding: 20px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            display: flex;
            cursor: pointer;
            .text{
                margin:0;
                padding: 0 20px;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
    .ant-modal-footer{
        padding: 0;
        border-top: unset;
    }
    
}
}
 