.try-now-block {
  border-radius: 9px;
  border: solid 1px #c6c6c6;
  padding: 25px;
  display: grid;
  grid-template: "imgBlock button";
  .img-block {
    grid-area: imgBlock;
    width: 131px;
    height: 131px;
    border-radius: 9px;
    background-color: #f5f5f5;
    font-size: 18px;
  }
  .try-now__button {
    grid-area: button;
    align-self: end;
    justify-self: end;

    width: 171px;
    height: 51px;
    border-radius: 3px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #062f4f;

    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
}

.all-link-block {
  display: grid;
//   grid-template: ;

  %block {
    border: solid 1px #e05b49;
    background-color: #f5f5f5;
    padding: 42px 32px;
  }
  %about-text {
    opacity: 0.5;
    font-family: CircularStd;
    font-size: 18px;
    line-height: 1.44;
    color: #062f4f;
  }
  %link-name {
    opacity: 0.7;
    font-family: CircularStd;
    font-size: 28px;
    line-height: 0.64;
    color: #000000;
  }
  %link-button {
    width: 162px;
    height: 55px;
    background-color: #e05b49;
  }
  .gig-link-block {
    @extend%block;
    grid-area: gig;

    .about-gig-link {
      @extend%about-text;
    }

    .gig-name {
      @extend%link-name;
    }

    .gig-button {
      @extend%link-button;
    }
  }

  .internship-link-block {
    @extend%block;
    grid-area: internship;

    .about-internship-link {
      @extend%about-text;
    }

    .internship-name {
      @extend%link-name;
    }

    .internship-button {
      @extend%link-button;
    }
  }

  .campusMarketing-link-block {
    @extend%block;
    grid-area: campusMarketing;

    .about-campusMarketing-link {
      @extend%about-text;
    }

    .campusMarketing-name {
      @extend%link-name;
    }

    .campusMarketing-button {
      @extend%link-button;
    }
  }

  .studentOffer-link-block {
    @extend%block;
    grid-area: studentOffer;

    .about-studentOffer-link {
      @extend%about-text;
    }

    .studentOffer-name {
      @extend%link-name;
    }

    .studentOffer-button {
      @extend%link-button;
    }
  }
}
