.ant-modal-wrap {
  backdrop-filter: blur(4px);
  .ant-modal.contactToAdmin-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    .ant-modal-content {
      min-height: 100vh;
      border-radius: 0px;
      .ant-modal-header {
        padding: initial;
        border-bottom: none;
        .ant-modal-title {
          .custom-modal-title {
            position: relative;
            .modal-title__img {
              width: 100%;
            }
            .modal-title-content {
              position: absolute;
              bottom: -44px;
              padding: 0 40px;
              .modal-title__header {
                margin-bottom: 8px;
                line-height: 1;
                font-size: 36px;
                font-weight: 500;
              }
              .modal-title__para {
                font-weight: 400;
                font-size: 18px;
              }
            }
          }
        }
      }
      .ant-modal-body {
        padding: 24px 40px;
        margin-top: 32px;
        .requirement-block {
          margin-bottom: 20px;
          p {
            margin-bottom: 6px;
            // font-weight: 400;
            font-size: 16px;
          }
          .requirement__input {
            height: 46px;
            border-radius: 4px;
            border: solid 1px #c6c6c6;
          }
        }
        .budget-block {
          margin-bottom: 20px;
          p {
            margin-bottom: 6px;
            font-size: 16px;
          }
          .budget__input {
            height: 46px;
            border-radius: 4px;
            border: solid 1px #c6c6c6;
          }
        }
        .quantity-block {
          margin-bottom: 20px;
          p {
            margin-bottom: 6px;
            font-size: 16px;
          }
          .quantity__input {
            height: 46px;
            border-radius: 4px;
            border: solid 1px #c6c6c6;
          }
        }
      }

      .ant-modal-footer {
        padding: 10px 40px 40px;
        position: absolute;
        width: 100%;
        bottom: 0px;
        border-top: none;
        .custom-modal-footer {
          display: flex;
          justify-content: space-between;
          .goBack-button {
            width: 155px;
            height: 49px;
            border-radius: 10px;
            background-color: #f5f5f5;
            font-size: 18px;
            font-weight: 700;
            // color: #fff;
          }
          .contactUs-button {
            width: 231px;
            height: 49px;
            border-radius: 10px;
            background-color: #3b599b;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}
