.ant-modal-wrap {
  // backdrop-filter: blur(4px);
  .ant-modal.contactToAdmin-modal {
    top: 40px;
    .ant-modal-content {
      border-radius: 12px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #f7f7f7;
      border: none;
      .ant-modal-header {
        text-align: center;
        background-color: #f7f7f7;
        border-radius: 12px;
        border: none;

        .ant-modal-title {
          opacity: 0.8;
          font-size: 28px;
          line-height: 1.43;
          color: #000000;
        }
      }

      .ant-modal-body {
        padding: 0px 40px 20px 40px;
        // margin-top: 32px;
        %label {
          margin-bottom: 6px;
          opacity: 0.5;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.4;
          color: #636363;
        }
        %input {
          height: 48px;
          border-radius: 4px;
          border: solid 0.5px #707070;
          background-color: #ffffff;
          margin-bottom: 12px;
        }
        %select {
          width: 100%;
          margin-bottom: 20px;
          .ant-select-selector {
            height: 46px;
            border-radius: 4px;
            border: solid 1px #c6c6c6;
          }
        }
        %textarea {
          height: 109px;
          border-radius: 4px;
          border: solid 1px #c6c6c6;
          background-color: #f5f5f5;
          margin-bottom: 20px;
        }
        /* ---------------------------- default campaign body---------------------------- */
        .default-block {
          .requirement__p {
            @extend%label;
          }
          .requirement__input {
            @extend%input;
          }
          .budget__p {
            @extend%label;
          }
          .budget__input {
            @extend%input;
          }
          .quantity__p {
            @extend%label;
          }
          .quantity__input {
            @extend%input;
          }
        }

        /* ---------------------------- custom campaign body ---------------------------- */
        .custom-block-one {
          .select-option__p {
            @extend%label;
          }

          .select-option__select {
            @extend%select;
          }
          .additional-comment__p {
            @extend%label;
          }
          .additional-comment__textarea {
            @extend%textarea;
          }
        }
      }

      .ant-modal-footer {
        padding: 10px 40px 40px;
        // position: absolute;
        width: 100%;
        bottom: 0px;
        border-top: none;
        .custom-modal-footer {
          display: flex;
          justify-content: space-between;
          .goBack-button {
            width: 155px;
            height: 49px;
            border-radius: 10px;
            background-color: #f5f5f5;
            font-size: 18px;
            font-weight: 700;
            // color: #fff;
          }
          .contactUs-button {
            width: 231px;
            height: 49px;
            border-radius: 10px;
            background-color: #3b599b;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}
