.gig-profile-modal{
    .ant-modal-footer{
        border: none;
    }
    .ant-modal-body{
        padding: 3rem 2rem 0 2rem;
    }
    .gig-details{
        height: 19rem;
        border-radius: 9px;
        border: solid 1px #b7b7b7;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
        .verification-status{
            border-right: 1px solid #ccc;
            padding: 0 1.5rem;
            width: 33%;
            .veri-stauts{
                margin-bottom: 2rem;
                .title{
                    opacity: 0.5;
                    font-size: 1rem;
                }
                .details{
                    font-size: 1.25rem;
                    opacity: 0.8;
                }
                img{
                    margin-right: 0.2rem;
                }
            }
            .digital-profile{
                margin-bottom: 2rem;
                p{
                    opacity: 0.5;
                    font-size: 1rem;
                    margin-bottom: 0.75rem;
                }
                .icons{
                    display: flex;
                    justify-content: flex-start;
                    .single-icon{
                        height: 2rem;
                        width: 2rem;
                        border-radius: 8px;
                        border: solid 1px #b7b7b7;
                        // background-color: darkblue;
                        margin-right: 0.25rem;
                        text-align: center;

                    }
                }
            }
            .offline-gigs{
                p{
                    opacity: 0.5;
                    font-size: 1rem;
                    margin-bottom: 0.75rem;
                }
                .details{
                    font-size: 1rem;
                    opacity: 0.8;
                }
            }
           
        }
        .interview-ques{
            border-right: 1px solid #ccc;
            width: 33%;
            padding: 0 1rem;
            .title{
                margin-bottom: 0.6rem;
                font-size: 1.1rem;
            }
            .qna{
                margin-bottom: 0.5rem;
                .question{
                    margin-bottom: 0.25rem;
                    opacity: 0.9;
                }
                .answer{
                    margin-bottom: 0.25rem;  
                    opacity: 0.6;  
                }
            }
        }
        .skills-and-lang{
            padding: 0 1.5rem ;
            width: 33%;
            .title1, .title2{
                margin-bottom: 0.6rem;
                font-size: 1.1rem;
                opacity: 0.5;
                .details{
                    font-size: 1.2px;
                    opacity: 0.8;
                }
            }
        }

    }
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        .report{
            color: #ff0000;
            align-items: center;
            display: flex;
            img{
                margin: 0 0.25rem;
            }
        }
        .select{
            margin: 0 0.5rem;
            border-radius: 4px;
            border: solid 2px #10eb00;
            color: #10eb00;
            width: 6rem;

        }
        .reject{
            margin: 0 0.5rem;
            border-radius: 4px;
            border: solid 2px #ff0000;
            color: #ff0000;
            width: 6rem;
        }
        .shortlist{
            margin: 0 0.5rem;
            border-radius: 4px;
            border: solid 2px #5689fb;
            color: #5689fb;
            width: 6rem;
        }
    }
}

// global css because it is independent component
.gig-card{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    height: 7.5rem;
    border-radius: 9px;
    border: solid 1px #b7b7b7;
    margin-bottom: 1rem;
    .name-img{
        display: inline-flex;
        align-items: center;
        img{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1rem;
        }
        .name{
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 0;
        }
        .email{
            opacity: 0.5;
            font-size: 1rem;
        }
    }
    .university-details{
        .univ-name{
            font-size: 1.3rem;
            opacity: 0.7;
        }
        .other-details{
            display: flex;
            justify-content: space-between;
            opacity: 0.5;
            font-size: 1rem;
        }
    }
    .gig-scores{
        width: 7rem;
        height: 14px;
        .progress-bar{
            .ant-progress-bg{
                height: 1rem!important;
                background-color: #1864d3;
            }
        }
        .percentage{
            text-align: center;
            opacity: 0.5;
            margin-top: 0.5rem;
        }
    }

}