@import "./createCampaign";

div.gig-main-block {
  margin-bottom: 28px;
  h1.gig-main__header {
    font-size: 36px;
    font-weight: 700;
  }

  div.showOff-block {
    display: grid;
    grid-template-areas:
      "image header"
      "image para";
    border-radius: 9px;
    border: solid 1px #c6c6c6;
    padding: 36px 48px;
    img.showOff__img {
      grid-area: image;
      max-width: 276px;
    }

    h1.showOff__h1 {
      grid-area: header;
      margin-top: 24px;
      font-size: 24px;
      font-size: 28px;
      line-height: 1.43;
      color: #062f4f;
    }

    p.showOff__p {
      grid-area: para;
      font-size: 18px;
      color: #062f4f;
    }
  }
}

.new-or-existing-gig-block {
  margin-top: 28px;
  .new-gig-block {
    border-radius: 9px;
    border: solid 1px #c6c6c6;
    padding: 36px 48px;
    margin-bottom: 40px;
    .marketing-block {
      .facebook-block {
        display: flex;
      }
    }
  }
}

.facebook-block {
  display: flex;
  flex-wrap: wrap;

  .campaign-block {
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    min-width: 184px;
    font-size: 16px;
    margin: 2px 40px 2px 2px;

    .campaign__p {
      text-align: center;
      padding: 20px 0px;
      margin: 0;
      font-size: 16px;
    }
    .campaign__button {
      width: 100%;
      border-radius: initial;
      background-color: #3b599b;
      color: #fff;
    }
  }
}
