
.gig-details-block{
    .gig-summary-and-overview-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .summary-block{
            flex: 1 1 550px;
            margin-top: 1rem;
            background-color: #fff;
            .heading{
                font-size: 1.5rem;
                padding: 0 1rem;
            }
            border-radius: 9px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            // width: 72.5%;;
            border-top: 1rem solid #444584;
            padding: 1rem;
            .suumary-details{
                display: flex;
                justify-content: space-between;
                padding: 0 1rem ;
                align-items: center;
                margin-right: 5rem;
                div{
                    font-size: 1rem;
                    font-weight: 500;
                    span{
                        font-size: 1.25rem;
                        color: black;
                        opacity: 1;
                    }
                }
                .boost-btn{
                    width: 11rem;
                    border-radius: 5rem;
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16);
                    background-color: #00bfa6;
                    color: white;
                    height: 2.5rem;
                    font-weight: 700;
                    img{
                        height: 1rem;
                        width: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }
            .action-buttons{
                margin-top: 2.2rem;
                display: flex;
                justify-content: flex-end;
                .view-btn{
                    @extend %action-btn;
                    border: 1px solid #444584;
                    color: #444584;
                }
            }
        }
        .overview-block{
            flex: 1 1 300px;
            margin-top: 1rem;
            background-color: #fff;
            // width: 25.5%;
            border-radius: 9px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-top: 1rem solid #444584;
            padding: 1rem;
            text-align: center;
            .heading{
                font-size: 1.25rem;
            }
            .details{
               
                .single-detail{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 1.5rem;
                    p{
                        font-size: 16px;
                        font-weight: 500;
                    }
                    span{
                        font-size: 1.25rem;
                        color: black;
                    }
                }
            }

        }
    }
    .interns-application-block{

        margin-top: 1.5rem;
        width: 100%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #e4e4e4;
        .heading{
            display: flex;
            justify-content: space-between;
            background-color: #ccf3f5;
            align-items: center;
            h2{
                margin: 0;
                padding: 1rem 2rem;
                opacity: 0.8;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.43;
                color: #000000;
            }
            .filter{
                display: flex;
                justify-content: space-between;
                padding: 0 2rem;
                align-items: center;
                p{
                    margin: 0;
                    margin-right: 0.5rem;
                }
                .ant-select-selector{
                    background-color: #ccf3f5;
                }
            }
        }
        
        .tab{
            @extend %tab-custom-style;
            .head{
                display: flex;
                // justify-content: space-between;
                padding: 1rem ;
                color: black;
                align-items: center;
                p{
                    margin-bottom: 0;
                }
            }
            .intern-details-card{
                background-color: #fff;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border-bottom: 1px solid #e0e0e0;
                border: 1px solid #f7f7f7;
                border-radius: 5px;
                margin: 0.5rem;
                .name-and-img{
                    min-width: 30%;
                    
                    img{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        margin-right: 1.5rem;
                    }
                    span{
                        opacity: 0.8;
                        font-size: 1.2rem;
                        color: black;
                    }
                }
                
                .institute{
                    min-width: 35%;
                    opacity: 0.5;
                    font-size: 1rem;
                }
                .city{
                    min-width: 10%;
                    opacity: 0.5;
                    font-size: 1rem;
                }
                
            }
        }
    }
}

.applied-gigs, .selected-gigs, .completed-gigs{
    .task-submission-col{
        width: 15rem !important;
    }
    .resume-score{
        .progress-bar{
            display: flex;
            width: 15rem;
            font-size: 1.1rem;
            border-radius: 5rem;
            overflow: hidden;
            background: #efefef;
            .inner{
                width: 70%;
                height: 2.2rem;
                padding: 0.3rem 0.4rem;
                background-image: linear-gradient(to left, #00bfa6, #444584);
                color: white;
                display: flex;
                justify-content: center;
            }
            p{
                font-size: 1rem;
                display: flex;
                justify-content: center;
            }
        }
    }
    .gig-score{
        width: 15rem;
    }
    .name-and-img{
        // min-width: 30%;
        cursor: pointer;
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }
        span{
            opacity: 0.8;
            font-size: 1.2rem;
            color: black;
        }
    }
    .name-and-img:hover{
        span{
            color: blue;
        }
        
    }
}

.selected-gigs, .completed-gigs{
    .submitted, .is-completed{
        
        .dot{
            height: 0.75rem;
            width: 0.75rem;
            display: inline-flex;
            border-radius: 1rem;
            margin-right: 0.5rem;
        }
    }
}

%tab-custom-style {
    .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
      margin: 0;
      .ant-tabs-nav.ant-tabs-nav-animated {
        width: 100%;
        div {
          display: flex;
          justify-content: space-around;
          .ant-tabs-tab {
            flex: 1;
            margin: 0;
            border: none;
            text-align: center;
            background-color: #38bdba;
            opacity: 0.8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: normal;
            color: #000000;
            &:hover {
              color: #38bdba;
              border-bottom: 2px solid #38bdba;
              background: #f1f1f1;
              padding-bottom: 0.4rem;
            }
          }
          .ant-tabs-tab-active.ant-tabs-tab {
            color: #38bdba;
            border-bottom: 2px solid #38bdba;
            background: #fff;
            padding-bottom: 0.4rem;
          }
        }
      }
    }
  }