.submission{
    border: 1px solid #b7b7b7;

  padding: 0 1rem;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    height: 25rem;
    &__tab{
        display: flex;
        flex-direction: column;
       
    }
    &__data{
        padding: 0rem 2rem;
        height: 18rem;

        overflow: auto;
    // flex:1;
        
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        .gig-details{
            height: 25rem !important;
            overflow: auto;
        }
        .verification-status{
            width: 100% !important;
            padding: 0.5rem 2rem !important;
            .title1, .title2{
                margin-bottom: 0.6rem;
                font-size: 1rem;
                opacity: 0.5;
                
            }
            .details{
                font-size: 1.2rem;
                //opacity: 0.8;

                }
            .skills-and-lang{
                padding: 0 1.5rem ;
                
               
            }
        }
    }
    &__data-container{
        padding: 1rem 0;
    }
    &__text{
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid #b7b7b7;
        padding: 1rem;
    }
    &__image{
        width: 100%;
    }
    &__link{
        display: inline-block;
        text-align: center;
        width: 100%;
        border: 1px solid #b7b7b7;
        padding: 0.5rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #f5f5f5;
    }
    &__btns{
       
        width: 100%;
        padding: 0.5rem 1rem;
       // background: #f7f7f7;
        text-align: right;
    }   
    &__btn{
        margin: 0 0.5rem;
        color: #fff;
        border-radius: 8px;
        &--redo{
            background-color: #ff0000;
            border-color: #ff0000;
        }
        &--approve{
            background-color: #61b303;
            border-color: #61b303;
        }
    }
}