.ant-modal-wrap  .ant-modal-header{
    background-color: #f7f7f7 !important;
}
.ant-modal-wrap  .ant-modal-content{
    background-color: #f7f7f7 !important;

}
.ant-modal-wrap .ant-modal-title{
    font-size: 1.2rem;
}

.change-password{
    &__label{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    &__input{
        padding: 0.5rem;
        border-radius: 4px;
    }
    &__btns{
        text-align: right;
    }
    &__btn{
        background-color: #00bfa6 !important;
        color: #fff !important;
        padding: 0.6rem 2rem;
        height: 100% !important;
        border-radius: 3px;
        &:hover{
            background-color: darken($color: #00bfa6, $amount: 1.2) !important;
            color: #fff;

        }
    }
}