.howItWorkModal {
  .ant-modal-content {
    border-radius: 24px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #f7f7f7;
    .ant-modal-header {
      position: relative;
      top: 24px;
      border-radius: 24px 24px 0 0;
      background: #f7f7f7;
      border-bottom: none;
      text-align: center;
      .ant-modal-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.42;
        color: #000000;
      }
    }
  }
  .howItWorkTab {
    text-align: center;
    .ant-tabs-bar {
      border: none;
      .ant-tabs-nav {
        margin: 20px;
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        #tab-1 {
          margin: 0;
        }
        #tab-2 {
          margin: 0;
        }
        .ant-tabs-tab {
          padding: 18px 36px !important;
          border: none !important;
          background-color: #fff !important;
          font-size: 15px;
          font-weight: 600;
          color: #444 !important;
          margin: 0;
        }
        .ant-tabs-tab-active {
          padding: 18px 36px !important;
          border-radius: 8px;
          border: solid 1px #7a81ea !important;
          background-color: #7a81ea !important;
          font-size: 15px;
          font-weight: 600;
          color: #fff !important;
        }
      }
    }
    .ant-tabs-content {
      text-align: initial;
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      display: none !important;
    }
  }
}

.main-content-block {
  text-align: center;
  justify-content: center;
  margin: 20px 0 40px;
  padding: 0 20px;
  display: flex;
  .content-design-block {
    width: 33%;
    .content-block-img {
      margin-bottom: 16px;
      position: relative;
      .number-img {
      }
      .separator-img {
        position: absolute;
        top: 50%;
        right: 70%;
      }
    }
    .content-block-h1 {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.19;
      color: #333e49;
    }
    .content-block-p {
      margin: 0 9px;
      text-align: left;
      font-size: 13px;
      line-height: 2.08;
      color: #333e49;
    }
  }
}
