.ant-layout.ant-layout-has-sider {
  .ant-layout-sider {
    background-color: #444584;
    height: 100vh;
    .ant-layout-sider-children {
      position: fixed;
      width: inherit;
      background-color: #444584;
      .logo {
        background-color: #444584;
        height: 64px;
        img {
        }
      }

      .company-avatar-block {
        text-align: center;
        margin: 20px 0;
        .company-avatar {
          width: 100px;
          height: 100px;
          background-color: #fff;
          margin: 20px auto;
          border-radius: 50px;
        }

        .company-name {
          color: #fff;
          font-size: 16px;
          font-weight: 900;
          line-height: 1.38;
        }

        .company-mail-address {
          color: #ffffff;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.38;
        }
      }

      .ant-menu {
        background-color: #444584;
        .ant-menu-item {
          .anticon {
            img {
            }
          }

          span {
            font-size: 16px;
            line-height: 1.38;
            text-align: left;
            color: #ffffff;
          }
          &:hover {
            // color: wheat;
            background-color: rgba(255, 255, 255, 0.1);
          }
          // &:focus {
          // }
        }
      }
      .ant-menu-item.ant-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .site-layout.ant-layout {
    background-color: #fff;
    .site-layout-background.ant-layout-header {
      background-color: #fff;
      position: fixed;
      width: 100%;
      z-index: 2;
      .trigger {
        margin-left: 20px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .site-layout-background.ant-layout-content {
      background-color: #f7f7f7;
      padding: 5rem 3rem;
      min-height: 280px;
    }
  }
}

// .ant-layout-sider-dark.ant-layout-sider-collapsed
// .ant-menu-item-selected
